* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f5f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 1rem 2rem;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a202c;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  background-color: aliceblue;
  padding: 5px 10px;
  box-shadow: 0 0 8px #555;
  text-decoration: none;
  color: #1a202c;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #3182ce;
}

.menu-icon {
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #fff;
    border-top: 1px solid #ddd;
    display: none;
  }

  .nav-links li {
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
  .nav-links ul {
    width: 100%;
  }
  .nav-links li a {
    width: 100%;
    background-color: transparent;
    padding: 0px;
    box-shadow: none;
  }
}
